<article class="post">
  <div class="title">
    <a href="/{{dir}}/{{id}}">{{title}}</a>
    <span>Posted by {{user.username}} on {{format_date created_at}}</span>
  </div>
  <div class="content">
    {{ content }}
  </div>
</article>